<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx">






	<!-- 配置局部事务管理器，使用HibernateTransactionManager类 并注入SessionFactory的引用 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
	<!-- 配置事务增强处理Bean,指定事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 用于配置详细的事务语义 -->
		<tx:attributes>
			<!-- 所有以'get'开头的方法是read-only的 -->
			<tx:method name="get*" read-only="true" />
			<!-- 其他方法使用默认的事务设置 -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- 配置一个切入点，匹配empManager和mgrManager 两个Bean的所有方法的执行 -->
		<aop:pointcut id="hoatPointcut"
			expression="bean(baseManager) or bean(userManager) or bean(routeManager) or bean(notificationManager)" />
		<!-- 指定在leePointcut切入点应用txAdvice事务增强处理 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="hoatPointcut" />
	</aop:config>


	<bean id="managerTemplate" abstract="true" lazy-init="true"
		p:userDao-ref="UserDAO" p:scheduleDao-ref="ScheduleDAO"
		p:routeDao-ref="RouteDAO" p:notificationDao-ref="NotificationDAO" />

	<bean id="baseManager" class="com.fzu.journeyhelper.service.impl.BaseManager"
		parent="managerTemplate" />


	<bean id="userManager" class="com.fzu.journeyhelper.service.impl.UserManagerImple"
		parent="baseManager" />
	<bean id="routeManager" class="com.fzu.journeyhelper.service.impl.RouteManagerImple"
		parent="baseManager" />
	<bean id="notificationManager"
		class="com.fzu.journeyhelper.service.impl.NotificationManagerImple"
		parent="baseManager" />

	<bean id="baseAction" class="com.fzu.journeyhelper.action.BaseAction">
		<property name="userManager" ref="userManager" />
		<property name="routeManager" ref="routeManager" />
		<property name="notificationManager" ref="notificationManager" />
	</bean>




</beans>